section#liste table, th{
    border-collapse: separate;
    width: 400px;
    margin: 50px;
    border-style: solid;
}
section#liste td{
    border:1px;
    border-style: solid;
}


section#liste td:hover{
    background-color: #3f3939;
    cursor: pointer;
}
section#liste th{
    padding: 12px, 8px, 20px, 8px;
    text-align: left;
    background-color: #FF715B;
    color: #312e2e;
}
section#liste h1{
    text-align: center;
}
section#liste nav{
    text-align: center;
}
section#liste img{
    float: right;
    margin:40px 80px 150px 80px;
    
}
section#liste2 table, th{
    border-collapse: separate;
    width: 400px;
    margin: 50px;
    border-style: solid;
}
section#liste2 td{
    border:1px;
    border-style:solid;
}
section#liste2 h1, nav{
    text-align: center;
}
section#liste2 table, p{
    margin-left:50px;
    margin-bottom:3px;
    margin-top:30px;
}
section#liste3 table, th{
    border-collapse: separate;
    width: 400px;
    margin: 50px;
    border-style: solid;
}
section#liste3 td{
    border:1px;
    border-style: solid;
}
section#liste3 h1, nav{
    text-align: center;
}
header{
    padding:0%;
    margin:0%;
}
section#presentation header, h1{
    text-align: center;
}
section#presentation h2{
    margin-left: 50px;
}
html, body{
    margin:0 ;
    padding: 0;
}
.mon_header{
    width:100% ;
    height: 100%;
    background-color: rgb(95, 100, 160);
}
header, h1{
    margin-top:0%;
}
body{
    background-image: url(Internet\ \(2\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin:0;
}
body{
    color: #F2F2F2;
}